---
import type { GithubAPiRes } from "@/types"
import RepoComponent from "@components/Repo.astro"
import Layout from "@layouts/Layout.astro"

const { repo } = Astro.params

const BASE_URL = new URL(Astro.url.origin)
const repoObj: GithubAPiRes = await fetch(`${BASE_URL}api/${repo}`).then((repo) => repo.json())

const dataPropsLayout = {
	title: "",
	desc: "Mi portafolio",
	author: "CoresYT",
	kw: ["Portafolio", "CoresYT", "Programación", "astro", "svelte", "javascript", "react", "nodejs"],
}
---

<!-- class="border-clay-950 bg-clay-950/50 flex h-[300px] w-[300px] min-w-full flex-col items-center justify-center gap-3 rounded-xl border-2 p-2.5 backdrop-blur-xs sm:w-[500px]" -->
<Layout {...dataPropsLayout}>
	<a class="mt-10" href=`${BASE_URL}`>{"<-"} Atrás</a>
	<div class="flex h-[calc(100dvh-40px)] w-screen items-center justify-center">
		<main
			class="border-clay-950 bg-clay-950/50 flex h-[320px] w-[320px] items-center justify-center rounded-xl border-2 p-2.5 backdrop-blur-xs"
		>
			<RepoComponent {...repoObj} />
		</main>
	</div>
</Layout>
