---
import GithubIcon from "@/components/Icons/Github.astro"
---

<header
	class="my-[calc(2*calc(5vw/3))] flex h-72 min-w-full flex-col items-center justify-center gap-3 rounded-xl border-2 border-clay-950 bg-clay-950/50 p-5 backdrop-blur-xs"
>
	<div class="flex items-center justify-center gap-5">
		<img class="max-w-16 rounded-full" src="/logo.webp" alt="Logo de Coresyt" />
		<h1
			class="w-[50%] text-2xl font-bold [&>span]:font-mono [&>span]:font-semibold [&>span]:text-clay-400"
		>
			Pedro <span>Damian</span>
			<span>Díaz</span> Sanchez
		</h1>
	</div>
	<p class="w-60 text-center [&>span]:font-mono [&>span]:font-bold [&>span]:text-clay-400">
		Tengo <span>1 año y medio</span> programando y tengo
		<span>{new Date().getFullYear() - 2011} años</span>
		programador <span>Front-End</span>
	</p>
	<ul>
		<li>
			<a
				href="https://github.com/coresyt"
				target="_blank"
				class="text-md text-white duration-200 hover:cursor-pointer hover:text-lg hover:text-clay-300"
			>
				<GithubIcon />
				Github
			</a>
		</li>
	</ul>
</header>
