---
import Repo from "@components/Repo.astro";
import type { GithubAPiRes } from "@/types";

const BASE_URL = new URL(Astro.url.origin);
const repos: GithubAPiRes[] = await fetch(`${BASE_URL}api/repos`).then(
  (repos) => repos.json()
);
---

<main
  class="min-w-full sm:w-[500px] my-[calc(2*calc(5vw/3))] bg-clay-950/50 border-2 border-clay-950 backdrop-blur-sm rounded-xl flex flex-col items-center justify-center gap-3 p-2.5 sm:grid sm:grid-cols-2"
>
  {
    repos.length >= 0 ? (
      repos.map((rp, i) => (
        <Repo {...rp} reposLength={repos.length} repoIndex={i} />
      ))
    ) : (
      <h2>No hay repositorios</h2>
    )
  }
</main>
