/* TODO: Geist Mono */
@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist/Geist-Bold.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist/Geist-SemiBold.woff2') format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist/Geist-Medium.woff2') format('woff2');
	font-weight: 500;
}

/* TODO: Geist Mono */
@font-face {
	font-family: 'Geist Mono';
	src: url('/fonts/GeistMono/GeistMono-Bold.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'Geist Mono';
	src: url('/fonts/GeistMono/GeistMono-SemiBold.woff2') format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'Geist Mono';
	src: url('/fonts/GeistMono/GeistMono-Medium.woff2') format('woff2');
	font-weight: 500;
}
